.people-list{
    display: inline;
    width: 376pt;
    min-height: 92vh;
    border-right: 1pt solid rgba(0, 0, 0, 0.2);
    float:left;
}

.data-list{
    align-content: center;
    display: inline;
    float: right;
    width: 700pt;
    margin-left: 100pt;
    margin-top: 30pt;
    margin-right: 100pt;
    margin-bottom: 30pt;
}