
.section-header{
    width: 345pt;
    text-align: left;
    padding-left: 16pt;
    padding-top: 32pt;
    padding-right: 16pt;
    padding-bottom: 8pt;
}

.page-header{
    background-color: #121212;
    text-align: left;
    padding-left: 36pt;
    padding-top: 16pt;
    padding-bottom: 16pt;
}