:root {
    --Ravn-Black: #121212;
    --Text-Dark: #333333;
    --Text-Light: #828282;
    --Text-Emphasis: #EC5757;
}


.h2-default {
    font-size: 17pt;
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
}

.h2-default-right {
    display: inline;
    font-size: 17pt;
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
    float: right;
}
.h2-default-left {
    display: inline;
    font-size: 17pt;
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
    float: left;
}

.h2-low-emphasis {
    font-size: 17pt;
    color: rgba(0, 0, 0, 0.3);
    font-weight: bold;
}
.h2-low-emphasis-left {
    display: inline;
    font-size: 17pt;
    color: rgba(0, 0, 0, 0.3);
    font-weight: bold;
    float: left;
}
.h2-high-emphasis {
    font-size: 17pt;
    color: rgba(235, 87, 87, 1);
    font-weight: bold;
}

.h2-inverse {
    font-size: 17pt;
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
}

.p1-default {
    font-size: 14pt;
    color: rgba(0, 0, 0, 1);
}
.p1-low-emphasis {
    font-size: 14pt;
    color: rgba(0, 0, 0, 0.5);
}


.loading-logo {
    display: inline;
    height: 20pt;
    pointer-events: none;
    float: left;
}

@media (prefers-reduced-motion: no-preference) {
    .loading-logo {
        animation: loading-logo-spin infinite 2s linear;
    }
}

@keyframes loading-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.arrow-logo {
    display: inline;
    height: 15pt;
    pointer-events: none;
    
    float: left;
}

.arrow-button{
    border: none;
    background-color: rgba(0,0,0,0);
}


